.videoCard ul li{
list-style: none;
}

.videoCard{
    width: 280px;
    height: 270px;
    overflow: hidden;
    margin: 10px; 
    padding: 4px;
}

.videoCard img{
    width: 100%;
}

.channelTitle{
    font-size: 12px; 
    
}

.imageofthumbnail{
    border-radius: 8px;
}

.adcard div{
    box-shadow: 0px 0px 3px grey; 
}

.chades{
    font-size: 13px;
}

.channelimg img {
width: 35px;
height: 35px;
border-radius: 50%; 
margin: 5px;
}

.applyflex{ 
    display: flex;
    justify-content: space-evenly;
    padding: 5px 8px;
    margin: 10px 0px;
}

.videoCard ul li{
    margin: 1px; 
}
 